$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);
$orange500: hsl(26, 100%, 55%);
$orange300: hsl(26, 100%, 71%);
$grey950: hsl(220, 13%, 13%);
$grey500: hsl(219, 9%, 45%);
$grey300: hsl(221, 22%, 81%);
$grey100: hsl(219, 35%, 92%);
$grey50: hsl(223, 64%, 98%);
